.header__hero {
	position: relative;
	height: 40rem;

	&-bg {
		position: relative;
		margin: 0 auto;
		height: 100%;
		left: -2.4rem;
		width: 100vw;

		&-icon {
			width: 100%;

			&--desktop {
				display: none;
			}
		}
	}

	&-carousel {
		position: absolute;
		top: -4rem;
		right: 0;
		bottom: 0;
		left: 0;

		&-img {
			display: block;
			margin: 0 auto;
			width: 100%;
			max-width: 40rem;
		}
	}
}

@media screen and (min-width: 576px) {
	.header__hero {
		&-carousel {
			top: -10rem;

			&-img {
				display: block;
				margin: 0 auto;
				width: 100%;
				max-width: 45rem;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.header__hero {
		margin-bottom: 15rem;

		&-bg {
			overflow: hidden;

			&-icon {
				position: absolute;

				&--mobile {
					display: none;
				}

				&--desktop {
					display: block;

					&--left {
						left: -15rem;
					}

					&--right {
						width: 100%;
						left: 5rem;
					}
				}
			}
		}

		&-carousel {
			top: -15rem;
			&-img {
				max-width: 58rem;
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.header__hero {
		order: 1;
		height: 100%;
		flex-basis: 40%;

		&-bg {
			top: 5rem;
			left: 0;
			right: -2.4rem;
			width: 45vw;
			max-width: 120rem;

			&-icon {
				&--desktop {
					&--left {
						left: 0rem;
					}

					&--right {
						left: 15rem;
					}
				}
			}
		}

		&-carousel {
			top: -5rem;
			right: -20rem;

			&-img {
				max-width: 73rem;
			}
		}
	}
}
