@use '../../../assets/styles/colors' as colors;
@use '../../../assets/styles/mixins' as mixins;

.about {
	padding: 6.4rem 0;
	background: colors.$smokeyWhite;
	text-align: center;
	overflow: hidden;

	&__details {
		margin-block-end: 5.6rem;

		&-title {
			margin-block-end: 1.4rem;
			@include mixins.section-heading;
		}

		&-text {
			@include mixins.section-text;
		}
	}

	&__cards {
		list-style-type: none;
	}
}

@media screen and (min-width: 768px) {
	.about {
		&__cards {
			@include mixins.flexbox(space-between, center, row);
			flex-wrap: wrap;
		}
	}
}

@media screen and (min-width: 1200px) {
	.about {
		padding: 9.6rem 0 8rem;
		text-align: left;

		&__details {
			max-width: 64rem;
			margin-block-end: 7.2rem;

			&-title {
				margin-block-end: 1.6rem;
			}
		}
	}
}
