$darkGray: #2d314d;
$lightGray: #9597a5;
$white: #ffff;
$smokeyWhite: #F4F5F7;
$articlesBg: #FAFAFA;
$grayGradient: linear-gradient(180deg, #2d314d 0%, rgba(45, 49, 77, 0) 100%);
$primaryColor: #30c88f;
$primaryGradient: linear-gradient(135deg, #33d35e 0%, #2ab6d9 99.58%);
