@use './colors' as colors;

@mixin flexbox($justify-items, $align-items, $flex-direction) {
	display: flex;
	justify-content: $justify-items;
	align-items: $align-items;
	flex-direction: $flex-direction;
}

@mixin heading {
	color: colors.$darkGray;
	font-weight: 300;
}

@mixin section-heading {
	color: colors.$darkGray;
	font-size: 3.2rem;
	font-weight: 300;

	@media screen and (min-width: 1200px) {
		font-size: 4rem;
		line-height: 6.4rem;
	}
}

@mixin standard-text {
	font-size: 1.5rem;
	color: colors.$lightGray;
	line-height: 2.5rem;

	@media screen and (min-width: 1200px) {
		font-size: 1.6rem;
		line-height: 2.6rem;
	}
}

@mixin section-text {
	font-size: 1.5rem;
	color: colors.$lightGray;
	line-height: 2.5rem;

	@media screen and (min-width: 1200px) {
		font-size: 1.8rem;
		line-height: 2.8rem;
	}
}

@mixin article-text {
	font-size: 1.3rem;
	color: colors.$lightGray;
	line-height: 1.8rem;
}

@mixin author-text {
	font-size: 1rem;
	color: colors.$lightGray;
	line-height: 1.8rem;
}
